{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="title">INSCRIPTION</h1>

	<div class="form">
		{{ form_start(registrationForm, {'attr':{'novalidate':'novalidate'}}) }}
		<div class="form-bloc">
			<div class="form-group">{{ form_row(registrationForm.nickName) }}</div>
			<div class="form-group">{{ form_row(registrationForm.lastName) }}</div>
		</div>
		{{ form_row(registrationForm.email) }}
		<div class="form-bloc">
			<div class="form-group">{{ form_row(registrationForm.plainPassword.first) }}</div>
			<div class="form-group">{{ form_row(registrationForm.plainPassword.second) }}</div>
		</div>
		{{ form_row(registrationForm.mobile) }}
		<div class="agree">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>
		<button type="submit">S'INSCRIRE</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
