{% extends 'base.html.twig' %}

{% block title %}Mes Rendez-Vous
{% endblock %}

{% block body %}
	<h1 class="title">VOS RENDEZ-VOUS</h1>

	<div class="flash">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Heure</th>
				<th>Surnom</th>
				<th>Âge</th>
				<th>Race</th>
				<th>Sexe</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for appointment in appointments %}
				<tr>
					<td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
					<td>{{ appointment.hour }}</td>
					<td>{{ appointment.surname }}</td>
					<td>{{ appointment.age }}</td>
					<td>{{ appointment.breed }}</td>
					<td>{{ appointment.sexe }}</td>
					<td>
						{% if appointment.date|date('Y-m-d') < "now"|date('Y-m-d') %}
							<a href="{{ path('app_book_show', {'id': appointment.id}) }}">voir</a>
						{% else %}
							<a href="{{ path('app_book_show', {'id': appointment.id}) }}">voir</a>
							<a href="{{ path('app_book_edit', {'id': appointment.id}) }}">modifier</a>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="10">vous n'avez pas de rendez-vous</td>
	</tr>
{% endfor %}</tbody></table><a href="{{ path('app_book_new') }}">NOUVEAU RENDEZ-VOUS</a>{% endblock %}
