{% extends 'base.html.twig' %}

{% block title %}Mon Rendez-Vous du
	{{ appointment.date|date('d/m/Y') }}
{% endblock %}

{% block body %}
	<h1 class="title">MON RDV</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Date</th>
				<td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Heure</th>
				<td>{{ appointment.hour }}</td>
			</tr>
			<tr>
				<th>Surnom</th>
				<td>{{ appointment.surname }}</td>
			</tr>
			<tr>
				<th>Âge</th>
				<td>{{ appointment.age }}</td>
			</tr>
			<tr>
				<th>Race</th>
				<td>{{ appointment.breed }}</td>
			</tr>
			<tr>
				<th>Sexe</th>
				<td>{{ appointment.sexe }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_book_index') }}">Retour à la liste</a>

	{% if appointment.date|date('Y-m-d') >= "now"|date('Y-m-d') %}
		<a href="{{ path('app_book_edit', {'id': appointment.id}) }}">modifier</a>
		{{ include('book/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
