{% extends 'base.html.twig' %}

{% block title %}Dog index
{% endblock %}

{% block body %}
	<h1>Dog index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nickname</th>
				<th>Age</th>
				<th>Breed</th>
				<th>Sexe</th>
				<th>Created_at</th>
				<th>Updated_at</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for dog in dogs %}
				<tr>
					<td>{{ dog.id }}</td>
					<td>{{ dog.nickname }}</td>
					<td>{{ dog.age }}</td>
					<td>{{ dog.breed }}</td>
					<td>{{ dog.sexe ? dog.sexe|json_encode : '' }}</td>
					<td>{{ dog.createdAt ? dog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ dog.updatedAt ? dog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_form_dog_show', {'id': dog.id}) }}">show</a>
						<a href="{{ path('app_form_dog_edit', {'id': dog.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_form_dog_new') }}">Create new</a>
{% endblock %}
