{% extends 'base.html.twig' %}

{% block title %}Dog{% endblock %}

{% block body %}
    <h1>Dog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dog.id }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ dog.nickname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ dog.age }}</td>
            </tr>
            <tr>
                <th>Breed</th>
                <td>{{ dog.breed }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ dog.sexe ? dog.sexe|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ dog.weight }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ dog.createdAt ? dog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ dog.updatedAt ? dog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_form_dog_index') }}">back to list</a>

    <a href="{{ path('app_form_dog_edit', {'id': dog.id}) }}">edit</a>

    {{ include('form_dog/_delete_form.html.twig') }}
{% endblock %}
